<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-param" content="uhuibao_csrf">
    <meta name="csrf-token" content="Y19seUpBYjAaG1oaBA07HSoTAjcmBxhpADMOEX4NC0M1PFkdKBgrXQ==">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/tree.css"  rel="stylesheet">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/tree.js"></script>
    <!-- Data Tables -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <style>
        .atabletimeinput{}
        .atableinput{}
        .panel label{float: right;margin-top: 7px;color:#3c763d}
        .panel .aa{padding-right: 0;}
        .panel .aa{padding-left: 4px;}
        .panel table th{color:#3c763d}
        .panel .row.ff{padding-top:8px}
    </style>
</head>

<body>
<div class="tool_box" style="left: 0px;width: 100%;height: 47px">
</div>
<div class="row afrow" style="display: flex">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div style="border: 1px solid #ddd;border-radius:6px;padding: 8px 10px;margin-left: 10px">
            <span style="padding-left: 10px; color: gray;">角色树</span>
            <div class="aftree domtree" style="padding:10px 5px;width: 250px">
                <ul>
                    <li th:each="r,iterStat : ${roleTreeList}"><i class="removeverticalline" th:if="${iterStat.index == 0}"></i><i class="minus" th:if="${iterStat.index !=0 && not #lists.isEmpty(r.childRole) }"></i><span th:text="${r.roleName}"></span><div><a th:onclick="|delData(${r.roleId},0)|"  class="aftreedeletebtn">删除</a></div>
                        <ul>
                            <li th:each="r1:${r.childRole}"><i class="minus" th:if="${not #lists.isEmpty(r1.childRole)}"></i><span th:text="${r1.roleName}"></span><div><a th:onclick="|delData(${r1.roleId},0)|"  class="aftreedeletebtn">删除</a></div>
                                <ul>
                                    <li th:each="r2:${r1.childRole}"><i class="minus" th:if="${not #lists.isEmpty(r2.childRole)}"></i><span th:text="${r2.roleName}"></span><div><a th:onclick="|delData(${r2.roleId},0)|"  class="aftreedeletebtn">删除</a></div>
                                        <ul>
                                            <li th:each="r3:${r2.childRole}"><span th:text="${r3.roleName}"></span><div><a th:onclick="|delData(${r3.roleId},0)|" class="aftreedeletebtn">删除</a></div></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12" >
        <div class="ibox float-e-margins">
            <div style="overflow: hidden;border: 1px solid #ddd;border-radius:6px;padding: 10px 10px 0px 10px;margin-right: 10px">
                <div class="form-inline">
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-success" type="button"><i class=""></i><span class="bold">新增</span></button>
                </div>
                <div>&nbsp;</div>
                <table id="table" class="table table-striped table-bordered table-hover display">
                    <thead>
                    <tr>
                        <th>角色标识</th>
                        <th>角色名称</th>
                        <th>角色状态</th>
                        <th>备注</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" value="" id="roleId">
                    <div class="form-group">
                        <label><span style="color: red;font-weight: bold">* </span>角色名称：</label>
                        <input type="text" placeholder="请输入角色名称" class="form-control" id="roleName" value="">
                    </div>
                    <div class="form-group">
                        <label>选择父角色：</label>
                        <select class="form-control" name="parentRoleId" id="parentRoleId">
                            <option value="0">-- 选择角色 --</option>
                            <option th:each="item : ${roleList}" th:value="${item.roleId}" th:text="${item.roleName}" th:if="${item.status == 1}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>角色状态：</label>
                        <label class="radio-inline">
                            <input type="radio" checked  name="status" th:value="1">有效</label>
                        <label class="radio-inline">
                            <input type="radio"  name="status" th:value="0">无效</label>
                    </div>
                    <div class="form-group">
                        <label>备注：</label>
                        <textarea id="remark" style="resize: none;width: 100%;border: 1px solid #e5e6e7"></textarea>
                    </div>
                    <div class="form-group" align="center">
                        <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-success" onclick="addDate()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<!-- Data Tables -->
<script src="js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- Sweet alert -->
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- 自定义js -->
<script src="js/common.js" th:inline="javascript"></script>
<!-- Page-Level Scripts -->
<script th:inline="javascript">

    var roleListHtml = $("#parentRoleId").html();

    var table;
    $(document).ready(function () {
        table = $('#table').DataTable({
            serverSide: true,
            ordering: false,
            searching: false,
            bProcessing: false,
            bLengthChange: false, //改变每页显示数据数量 [10, 20, 30, 40],
            // aLengthMenu : [10, 20, 30, 40],
            language: {
                sInfo: "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                sInfoEmpty: "显示 0 条",
            },
            ajax: {
                url: 'role/loadRoleListData',
                type: 'POST',
                data: function (d) {
                }
            },
            columns: [
                {data: 'roleId'},
                {data: 'roleName'},
                {
                    data: function (obj) {
                        var statusName = "";
                        if(obj.status == 1){
                            statusName = "有效";
                        }else{
                            statusName = "无效";
                        }
                        return statusName;
                    }
                },
                {
                    data: function (obj) {
                        return obj.remark == null?"":obj.remark
                    }
                },
                {
                    data: function (obj) {
                        return getMyDate(obj.createtime)//createTime是实体类的属性
                    }
                }
            ],
            columnDefs: [{
                targets: 5,
                data: null,
                render: function (data, type, row) {
                    var html = "<button class='btn btn-info' data-id='" + data + "' type='button' onclick='javascript:addOrUpdateData("+row.roleId+",\""+row.roleName+"\",\""+row.remark+"\","+row.status+","+row.roleParentid+")'><i class='fa fa-paste'></i> 编辑</button> ";
                    if(row.status == 1){
                        html = html + "&nbsp;&nbsp;<button class='btn btn-info btn-danger' data-id='" + data + "' type='button' onclick='delData("+row.roleId+",0)'><i class='fa fa-warning'></i> 删除</button>";
                    }else{
                        html = html + "&nbsp;&nbsp;<button class='btn btn-info btn-primary' data-id='" + data + "' type='button' onclick='delData("+row.roleId+",1)'><i class='fa fa-check'></i> 启用</button>";
                    }
                    return html;
                }
            }]
        });
    })

    //新增或编辑角色
    function addOrUpdateData(roleId,roleName,remark,status,roleParentid) {

        //$("#parentRoleId").html(roleListHtml);

        $("#roleId").val(roleId)
        $('#myModal').modal('show');


        $("#roleId").val(roleId);
        $("#roleName").val(roleName);
        $("#remark").val(remark);

        var statusObj = $("input[name='status']");
        statusObj.each(function () {
            if(status == $(this).val()){
                $(this).prop("checked",true);
            }else{
                $(this).prop("checked",false);
            }
        });

        $("#parentRoleId").val(roleParentid);

        var roleParentidObj = $("#parentRoleId").children();
        roleParentidObj.each(function () {
            if (0 != roleParentid && $(this).val() == roleId) {
                $(this).remove();
           }
        })
    }

    $('#myModal').modal({
        backdrop: 'static'
    });
    $('#myModal').modal('hide')
    $('#myModal').on('show.bs.modal', function () {
        $("#roleName").val("");
        $("#roleId").val("0");
    })
     $('#myModal').on('hidden.bs.modal', function () {
    //当模态框完全对用户隐藏时触发。
         window.location.href = 'role/rolePage'
     });

    //增加或者修改
    function addDate() {
        var roleId = $("#roleId").val();
        var roleName = $("#roleName").val();
        if(roleName == ''){
            return myAlertSimple("角色名称不能为空");
        }
        var status = $("input[name='status']:checked").val();
        var remark = $("#remark").val();
        var parentRoleId = $("#parentRoleId").val();

        $.ajax({
            url: "role/saveRole",
            type: 'POST',
            data: {
                "roleId":roleId,
                "status":status,
                "roleName":roleName,
                "remark":remark,
                "parentRoleId":parentRoleId
            },// 要提交的表单 ,
            async: false,
            cache: false,
            dataType: "json",
            success: function (data) {
                var code = data.code;
                if (code == "5" || code == '6') {
                    myAlertSimple(data.msg);
                    setTimeout("javascript:window.location.href = 'role/rolePage'",1000);
                    //searchData();
                }
            }
        });
    }



    //修改订单状态或者删除数据
    function delData(roleId,status) {
        $.ajax({
            url: "role/updateRoleStatus",
            type: 'POST',
            data: {
                "roleId":roleId,
                "status":status
            },// 要提交的表单 ,
            async: false,
            cache: false,
            dataType: "json",
            success: function (data) {
                var code = data.code;
                if (code == "3" || code == '4') {
                    myAlertSimple(data.msg);
                    // setTimeout("javascript:window.location.href = 'role/rolePage'",1000);
                    searchData();
                }
            }
        });
    }
</script>
</body>

</html>
